h1{
	text-align: center; 
	color: black;
	float: left;
	padding-left: 25%;
	padding-right: 5%;
	}	
			
p{
	font-size: 105%; 
	color: black; 
	text-align: justify;
	padding-right: 2%;}
			
body{
	margin-left: 20%; 
	margin-right: 20%; 
	background-color: pink;}	
			
div{
	 
	width: 70%;
	padding-bottom: 0;}

			
img{
	height: auto; 
	width: 30%;
	padding-bottom: 2%;}	

table { margin: 0;
		padding: 0;
		width: 50%;
		background-color: pink;}

tr a{font-size: 1.2em;
	 display: block;
	 color: black;
	 padding: 2% 4%;
	 text-decoration: none;}

td a:hover {background-color: red;
			color: white;}
			
h2{
	text-align: center; 
	color: black;

